[2019-07-09 11:02] GregOnNet opened #2 "Make imports for Duck more efficient"
Creating a Duck needs `effect`, `@Action`, `@Ducksify` & `bindSelectorGroup` to be imported.

[code]

An easy way simplifying it is to group some features like `effect`, `Action`, `bindSelectorGroup`.

[code]

[2019-07-09 11:03] GregOnNet commented on #2
@skydever Your feedback on this idea is highly appreciated. 🙂

[2019-07-09 11:24] GregOnNet opened #3 "Bind effects as group"
For each `effect` a single property has to be added to the class.
This can make a Duck a bit unreadable if you have to deal with more than just three `effect`s.

A factory could be introduced helping to organize effect-Initiators better.

[code]

There is also potential reducing boilerplate a bit by configuring the prefix.

[code]

Furthermore, each prefix can be enhanced by a scope defined by the

[2019-07-09 11:24] GregOnNet commented on #3
//cc @skydever

[2019-07-09 11:57] GregOnNet opened #4 "@FlatDuck"
### FlatDuck<T>

[code]

### Usage

[code]

TypeScript allows to extract type information of nested properties (see: https://stackoverflow.com/questions/51435783/pick-and-flatten-a-type-signature-in-typescript?answertab=active#tab-top).

[2019-07-09 12:04] GregOnNet commented on #4
For now, I don't think that this will be implemented.
Configuring the Actions would become harder.

[2019-07-09 12:05] GregOnNet commented on #4
// @skydever

[2019-07-09 21:29] skydever commented on #4
Hi @GregOnNet !

I really like the drive the ducks got lately and I want to highlight the selector feature. This is an awesome addition and I am looking forward to take advantage of it 👍 The docs need a little update, maybe I can help there after my holidays, also updating the schematics would be great...

I like the idea of adding a prefix and a scope to be more consistent, this would definitely

[2019-07-09 21:39] skydever commented on #2
Hi @GregOnNet !

I always hope that my ide is doing the job for me (sadly I have some issues currently - for the sake of it, maybe you have an idea - posted it [here](https://github.com/nrwl/nx/issues/83#issuecomment-491737318)), but having the option to have less imports sounds reasonable to me, something like `cy` from cypress, `Ducks` containing everything possible ...

[2019-07-09 21:43] skydever commented on #4
... just the `@Effect('My action type')` properties with a type set, the other effects won't be dispatched directly, have it's own `whereType` ...

[2019-07-10 05:29] GregOnNet opened #5 "Extract NgRx ActionCreators"
## Problem

If an action of certain state slice triggers an action of another slice you are forced to inject multiple Ducks in one Effect.
This leads once again into service composition even if those services are stateless.

[code]

As the snippet shows this approach does not scale that well.

## Proposal

To be as flexible as NgRx's built-in action creators a Duck could be destructured.

[code]

[2019-07-10 05:38] GregOnNet commented on #5
//cc Once again @skydever. Sorry, I know you are on holidays. :-D

[2019-07-10 05:46] GregOnNet commented on #4
Hey, I do not get the idea `@Effect -> whereType under the hood`.
Can you provide a code sample?

I will check if the prefix can be set in `@Ducksify()`.

[2019-07-10 06:43] GregOnNet commented on #5
//cc @Markus-Ende

[2019-07-10 15:05] skydever commented on #4
hey!

I was talking about something like this:

**Duck**
[code]

**Effect**
[code]

... or just:
[code]
and the decorator wraps the code inside `this.actions$.pipe(of/whereType(...), <here>)` ... but how to handle the payload ... just a crazy idea maybe :thinking:

[2019-07-10 19:13] GregOnNet commented on #4
I see thank you for the clarification.
For now, I do not want to go that way.

I want the library to integrate the best way possible with the existing API of NgRx.
Event the `whereType`-operator could be removed at some point in the future.
My intention is that a developer only need to learn as little as needed to use NgRx Ducks.

[2019-07-10 20:53] skydever commented on #4
... apart from the idea of using the effect class to generate the methods, would be a circular dependency I guess, was just a *quick shot* ... the `effects = bind.effects(` syntax looks good and would totally *save some keystrokes* if you use the `scope` and `prefix` option, maybe the `scope` can be set once by grouping the object somehow?

[code]

... beside that, what are other advantages you se

[2019-07-10 21:38] skydever commented on #5
I am leaving next wednesday, still here 😉 but no worries about that ...

... somehow I like static methods for this, like I already do with reducer (eg. `MyDuck.reducer` at the module) - you quickly see where it is coming from, but maybe always exporting as `reducer` was just a bad choice concerning the name and static methods have a negative outcome in that case?

... how to trigger an action the

[2019-07-11 05:10] GregOnNet commented on #5
Hi,

I am sure my description lacks some context.
Destructure the Duck is **not** a replacement for the injection since this is one of the greatest things about it I believe. 🎉

This feature should add a better integration for `Effects`.
In my experience you mostly need the action-creators to filter actions of the `actions`-Stream or to returning an action on the end of an effect.
In this case the

[2019-07-11 05:59] Markus-Ende commented on #5
Sounds good to me! The only thing I'm not sure about is how this affects testability. With this approach it will not be possible to simply mock dependencies to other ducks. But on the other hand this should not be a problem, since I don't think it's necessary to mock them if we only use action creators.

[2019-07-11 11:17] skydever commented on #5
I see, thx for the clarification :+1:

[2019-08-15 12:25] GregOnNet opened #6 "bindAction in favour of @Action"
## ⚠️ Draft state

### Pros

- Directly use ngrx types
- No need for `whereType`-operator
- Consistent API (only use `bindAction` every where)

### Cons

- more boilerplate
- less readable compared to decorator version
- introduces huge breaking change (automatic migration tool would be needed)

[code]

[2019-08-16 08:55] GregOnNet commented on #3
Closing this in favor of #6

[2019-08-16 08:55] #3 closed

[2019-08-16 08:56] GregOnNet commented on #5
Closing this for now since it would not be needed when #6 is implemented.

[2019-08-16 08:57] GregOnNet commented on #4
Closing this in favor of #6

[2019-08-16 08:57] #4 closed

[2019-08-16 08:58] GregOnNet commented on #2
#6 already reduces the amount of imports.
An alias would not be needed anymore.

[2019-08-16 08:58] #2 closed

[2019-08-16 17:08] GregOnNet commented on #5
#6 has some downsides that's why I reopen this issue.

First tries have shown, that it is hard to extract an `ActionCreator`.
Mapping the types somehow does not work as expected.

[2019-08-19 15:05] GregOnNet commented on #5
Good news, the following type is the beginning of extracting ngrx compatible action creators form a Duck:

[code]

[2019-08-19 15:17] GregOnNet commented on #6
Closing this since it brings back the old problem.
You need to touch multiple code parts if you want to add a new feature.

The responsibility maintaining action creators should live in the Duck.

[2019-08-19 15:17] #6 closed

[2019-08-31 15:04] GregOnNet opened #7 "How to deal with breaking change"
In NgRx Ducks 9 a Breaking Change is about to be introduced in order to align the API.

Methods annotated with `Action` are not dispatched anymore.
They will just be plain action creators.
In order to dispatch an action `dispatch` needs to be called.
This is like `effect` already behaves.

In this issue I want to discuss if there is an easy way to provide an automatic migration path, or if a kind

[2019-09-05 14:22] skydever commented on #7
hi there!

... some thoughts I have on this:

so the following needs to be changed with NgRx Ducks 9, is that correct?

`this.myDuck.setValue(...)` => `this.myDuck.setValue.dispatch(...)`
`this.myDuck.setValue.action(...)` => `this.myDuck.setValue(...)`

`this.myDuck.setValue.action(...)` could be marked as deprecated and still be available until 10 I guess? Maybe a rename of the `Ducksify` decora

[2019-09-06 04:55] GregOnNet commented on #7
Good morning,

I need to read your comment a bit more in detail today but the first few lines are absolutely correct.
I also thought a lot about a new API adding more type-safety, too.
Yesterday, I came up with the following idea:

## Simpler, breaking-change-free API

[code]

| API | Description |
| --  | ----------- |
|`bindSelectors`| ...same as bindSelectorGroup |
|`Slice`        | Same as @Du

[2019-09-06 04:56] GregOnNet commented on #7
//cc @Markus-Ende

[2019-09-06 07:31] GregOnNet commented on #7
@skydever I really like the idea having tslint in place.
I wrote several rules before.

We can have a look into it.
If my proposal would work out, teams would not experience any breaking change for now.

It would be enough to use JSDoc and deprecate the "old" API (It is not that old actually... 🤣).

My basic intention is not to break anyone if it is not needed but I want keep improving the API lit

[2019-09-06 21:58] skydever commented on #7
I like the new api 🎉 and an automated migration would be awesome, beside the possibility to still use the old one for now 👍

[2019-09-07 18:27] GregOnNet commented on #7
Thank you so much for the feedback.

[2019-09-08 08:07] Markus-Ende commented on #7
I also like this API, it feels more intuitive to have all those bind functions, especially the merged bindAction for `effect` and `@action`.

Why the rename from `@Duck` to `@InjectableSlice`?

[2019-09-09 04:22] GregOnNet commented on #7
For now, there are 3 reasons:
1. InjectableSlice indicates that the decorator directly adds the annotated class to Angular's IoC
2. I also feel it is better to understand how ngrx-ducks should be used if the APIs are not merged into each other
3. The new API will be treated a little different in order to generate the actions etc. Some things will change under the hood.

[2019-09-11 07:02] oemmes opened #8 "Selectors with parameters"
Hello,

thank you for the Duck classes which offer a good layer to work with the state. We use it throughout our application :)

One thing I didn't get into a duck is a selector with parameters. For example:
[code]

When just assigning it in the Duck as a property you cannot pass the parameters and the type of the proeprty for TypeScript is "never" (because the selector type is MemoizedSelectorWit

[2019-09-11 17:40] GregOnNet commented on #8
Hi,

I need to have a look at `createSelectorFactory` of `@ngrx/store` maybe this type is ignored by the Duck yet.
But this should totally be possible.

Thanks for reaching out!

Kinds
Gregor

[2019-09-11 17:40] GregOnNet commented on #8
Hi,

I need to have a look at `createSelectorFactory` of `@ngrx/store` maybe this type is ignored by the Duck yet.
But this should totally be possible.

Thanks for reaching out!

Kinds
Gregor

[2019-09-19 08:55] skydever commented on #7
one more thing I have to add, maybe this is the right place ...

I was using static fields/methods at my Ducks to *simplify* the `StoreModule` setup, something like:
[code]
and I was also using the `MyDuck.featureName` at the selectors:
[code]
but this seems not to be possible anymore (I am [very late] updating all my deps. at the moment). Do you think it is a bad idea to do it like this, and why?

[2019-09-19 09:53] GregOnNet commented on #7
Hi Thomas,

sorry that the current version breaks you code.
The Duck was not intended to be used with static fields.

A Duck does not match to a feature but to a slice living in a feature.
So maybe it is not the best place to put a feature name into a Duck-class.

---

Concerning `entityAdapter`: We might need to set up another call here.
It would help me to see a comparison -> An extending Duck v

[2019-09-19 13:34] skydever commented on #7
Hi @GregOnNet

Thx for the fast reply, I already adopted the code 👍

So maybe it is not the best place to put a feature name into a Duck-class.

Maybe I missed something (I started using `ngrx` with the `Ducks` because I did not like the *boilerplate* of plain `ngrx` (that was reduced quite heavily with the new action creators), so my plain ngrx experience is very low). So you mean a `Duck` should

[2019-09-19 21:43] skydever commented on #7
I think it would be great if there are no restrictions, even DI into a Duck class... in my opinion this would enhance the Ducks a lot ...

[2019-09-19 21:46] skydever commented on #7
... maybe there is a better functional programming approach, but in terms of classes and inheritance this would be awesome ...

[2019-09-20 05:50] GregOnNet commented on #7
I will take everything into account.
You are right, destroying the basic functionality of the class itself should not happen. I will have a look why static fields do not work anymore...

Thanks for your input.

Concerning entity adapter. What do you think about the following API.

[code]

[2019-09-23 04:49] GregOnNet commented on #7
@skydever I now remember that we discussed the EntityAdapter a bit differently before.
Your idea was having the action prepared for every adapter method, right?

[2019-09-23 04:49] GregOnNet commented on #7
The progress of the bindAction can be tracked here: https://github.com/co-IT/ngrx-ducks/tree/feat/bind-action

[2019-09-23 05:43] skydever commented on #7
@GregOnNet yes, that was the idea back then - I also created a `@EntityDucksify()` decorator on top of `@Ducksify()` to do so, passing a `actionTypeSource` and `entityName` to automatically create the action types - but I had to *play* around with the prototype to get it working, and *luckily* the types worked out ... it is very useful for some of our projects, but I think it is not the most stabl

[2019-10-28 14:33] Onmar commented on #8
Hi,

I have the same issue in my project.
I have a selector with properties, but Duck.pick only accepts one withouth them.

From looking at your code this is because your pickfactory only accepts selectors without props.

[code]

This would be the pick function for a selector with props:
[code]

For now there is no way around it, you will have to use the store normally unfortunately.

[2019-10-29 09:33] GregOnNet commented on #8
Hi Omar,

thanks for providing the sample.
This is really useful to me.

Please give me a few days to integrate this to the duck library.
Unfortunately, my laptop is broken.
Tomorrow, I hopefully get the new one.

[2019-12-22 22:16] GregOnNet commented on #8
Hi together,

there are two different ways using parameters with selectors.
There is `MemoizedSelectorWithProps` & creating a higher order function (see: https://github.com/ngrx/platform/blob/57fd3d78799ac0cdd97a5cf59999595cfead6c14/modules/router-store/src/router_selectors.ts#L35).

For now, I will implement `MemoizedSelectorWithProps`.
Please let me know if you need further possibilities, too.

[2019-12-22 23:26] GregOnNet commented on #8
`pick` now accepts properties. Shipped with [v8.3.0](https://github.com/co-IT/ngrx-ducks/releases/tag/v8.3.0)

[2019-12-22 23:28] GregOnNet commented on #8
Closing this issue for now.
Please feel free to reopen it if you need further support for selectors taking properties.

[2019-12-22 23:28] #8 closed

[2019-12-26 11:37] GregOnNet commented on #7
Closing this issue, for now.
All the features of the next release are documented in issue #9.

[2019-12-26 11:37] #7 closed

[2019-12-26 11:37] GregOnNet commented on #5
Closing this since it is covered in #9.

[2019-12-26 11:37] #5 closed

[2019-12-26 11:42] GregOnNet opened #16 "Create docs for new API"
## Contents

- Getting started guide
- Architecture
- createDuck
  - reducers
  - actions
- selectors
  - bindSelectors (plain selectors, selectors with props)
  - pick
- effects
- testing
  - reducer
  - actions
  - effects
- schematics

[2020-01-06 09:31] GregOnNet commented on #16
Demo of new API can be found at: https://stackblitz.com/edit/ngrx-ducks-8-4

[2020-01-06 16:33] GregOnNet opened #18 "@StoreFacade does not work with Ivy"
Ivy requires each service to have an @Injectable annotation.
The compiler performs some operations on it.

## Solution

[code]

[2020-01-06 16:34] GregOnNet commented on #18
The Decorator API could be affected to.
Will check that (`@Ducksify`).

[2020-01-06 17:00] GregOnNet commented on #18
Yep, @Ducksify won't work with Ivy, either.
The good news it that the shipped version provides everything you need to work around the error.

[code]

[2020-01-06 17:22] #18 closed

[2020-01-20 06:12] GregOnNet opened #21 "Warning about deep imports"
### Seen behaviour
Due to the start of the Angular app the following warning appears in the log.

![image](https://user-images.githubusercontent.com/444278/72702732-08d9bb00-3b54-11ea-8a1d-81c5a6aafcb3.png)

### Possible cause

- ngrx-ducks uses internal interfaces of ngrx (like `ActionCreator<T>`)
- This could cause the warning.

### Warning

[code]

[2020-02-29 18:29] GregOnNet commented on #16
See https://co-it.gitbook.io/ngrx-ducks

[2020-02-29 18:29] #16 closed

[2020-03-16 10:15] GregOnNet opened #25 "idea: @ngrx-ducks/toolbox"
Currently, there is no much content out there telling you how deal with

- offline scenarios
- undo a processed action
- redo an undone action

May be @ngrx-ducks could bundle some helpers in an optional library: _@ngrx-ducks/toolbox_

First we need to collect some good practices that we can use here.

[2020-03-16 10:15] GregOnNet commented on #25
@skydever What do you think about this idea?

[2020-03-16 10:17] GregOnNet commented on #25
@Markus-Ende Whould you find this beneficial, too? Maybe you can tell if NGXS already provide solutions for these scenarios...

[2020-03-16 10:20] GregOnNet commented on #25
I recently started implementing an offline queue.
It is just a PoC: https://stackblitz.com/edit/ng-ngrx-offline-handler

[2020-05-18 10:27] BorisZubchenko opened #27 "Get rid of state type"
[Implement State Mutations](https://co-it.gitbook.io/ngrx-ducks/ngrx-ducks-core/guides/quick-start#implement-state-mutations) provides the following example:
[code]
I think providing the type of the state in each `createDuck` functoin is kinda boilerplating. It would be great if we could get rid of it:
[code]
Unfortunately, now it has `any` type. Is it possible to inherit the type similar to NgRx

[2020-05-18 10:37] BorisZubchenko opened #28 "Allow to move reducer export to the facade"
According to [Create Reducer automatically](https://co-it.gitbook.io/ngrx-ducks/ngrx-ducks-core/guides/quick-start#create-reducer-automatically):
[code]
Is it possible to make changes so that I can do the following:
[code]
Now I'm getting the error:
[code]

[2020-05-18 11:00] BorisZubchenko opened #29 "Use props-like dispatch function"
For now, the dispatch function gives as a payload field, but it would be great if we could get named field(s), like from the vanilla NgRx props function. For example, I've got these actions:
[code]
And the following effects:
[code]
Take a look at the map function above. I like the idea I can shorten it to the following:
[code]
It seems more readable for me. Now I'm trying to include your library i

[2020-05-18 11:37] BorisZubchenko opened #30 "Allow to group actions"
Usually, we use several actions for a request:
[code]
How about allowing to group these actions?
[code]
It already works when dispatching whilst `getActions` result does not support that:
[code]

[2020-05-18 11:53] BorisZubchenko opened #31 "Consider combining getActions/getReducer functions"
Please, take a look at the following example from the NgRx Entity Docs:
[code]
Similar can be done with the getActions and getReducer functions. By doing this, we can get rid of duplicating the facade type. I'd also swap parameters so the initial state goes after the actions). My proposal (could not come up with the function name):
[code]

[2020-05-18 14:16] GregOnNet commented on #27
Hi,

currently, I do not know how the state-type could be inferred automatically.
I already checked if the constraint could be passed by making the class generic. But this does not work.

If someone can help here it would be great.

[2020-05-18 14:18] GregOnNet commented on #31
Hi,

thanks for reaching out.
Combining both functions also leads into performance improvements.

@BorisZubchenko Would you mind creating a PR for this? I can also do the implementation. However, I am a bit busy the next few weeks.

[2020-05-18 14:23] GregOnNet commented on #30
Hi,

we recently discussed grouping of actions in #4.
I dropped the idea since the code would become less readable if `createDuck` is configured with a reducer-Function.

The good thing about grouping is, better naming possibilities.
The bad thing, at least in my view is, worse code readability.

Have you further arguments why grouping would make sense?

[2020-05-18 14:31] GregOnNet commented on #29
Hi,

using `payload` here is the intended API.
I found it useful to rely on the simple contract that an action has a type and an optional payload.

However, reduxjs.org and ngrx.io now prefer the API you are suggesting.

I really like the handling how it currently is, since no one needs to think about the inner structure of the action. It is just `type` and `payload`.

It could be evaluated if the

[2020-05-18 14:35] BorisZubchenko commented on #31
@GregOnNet I was trying to implement this function (you can find it in the example above), but it does not provide any typings. I'm not so strong in the TypeScript Generics yet.

[2020-05-18 14:36] GregOnNet commented on #28
Hi,

thanks for reporting this issue.
I think this should be doable.

Maybe some fiddling with the type definitions.

[2020-05-18 14:38] GregOnNet commented on #31
Alright, missed that point.
I will have a look at it.

Thanks for your report.

[2020-05-18 14:44] BorisZubchenko commented on #30
@GregOnNet #4 looks complex to me.
My idea is to just add "syntax" sugar to the existing implementation.

If I understood correctly, I don't see any readability worsening since we can still use blank lines as before:
[code]

[2020-05-18 14:48] GregOnNet commented on #30
It becomes messy if the reducer is a bit more complex.
e.g.

[code]

[2020-05-18 14:57] BorisZubchenko commented on #30
Agree, but without groups it is still messy:
[code]
Tradeoffs:
* With my proposal there are extra indentations.
* Current implementation forces us to add `load` prefix.

However, it seems more convenient to me since we can get tips by typing `load.`.

P.S. Forms, for example. We would rather encapsulate similar fields to a new group:
[code]
(This is not a rule of thumb but matter of taste of cours

[2020-05-18 15:01] BorisZubchenko commented on #30
However, groups can be extracted to a constant (not sure 'bout typings):
[code]

[2020-05-18 15:29] BorisZubchenko commented on #29
Honestly, I'd investigate why do NgRx (and even Redux) team prefer this API, because there was payload-way before v8. No doubt there are some reasons why they did this since they could remain payload as is:
[code]
Actually, I even remembered the reason of this API but have forgotten it (should have recorded it immediately :)). I'll do some kind of research and comment if I find any information abo

[2020-05-18 18:25] GregOnNet commented on #30
`getReducer` needs to be enhanced.

[2020-05-18 18:54] BorisZubchenko opened #32 "Provide createMutableDuck"
[ngrx-etc](https://github.com/timdeschryver/ngrx-etc) provides [mutableOn](https://github.com/timdeschryver/ngrx-etc#mutableon) function to reduce boilerplate when implementing reducer pure function. Since it's impossible to use the function with this library, it would be great to implement the `createMutableDuck`:
[code]
A function without braces can also be implemented (not sure if it's possible

[2020-05-19 05:21] GregOnNet commented on #32
Definitely a good catch.
You can already combine `immer` (used by ngrx-etc) with NgRx Ducks.
But you would still need to return the state object.

[2020-05-19 06:37] GregOnNet commented on #30
reopen due to runtime error in example app

[2020-05-19 09:37] BorisZubchenko commented on #32
I could be wrong, but I think the state itself can be used as a second argument of an immer function. The idea is that we pass not the value of the state but the reference. This means we can use this reference instead of the reducer result. I looked at mutableOn sources and found the following line:
[code]
I think it can be refactored to this:
[code]
But I worry about 2 things:
1. I'm not sure if

[2020-05-19 10:21] BorisZubchenko opened #33 "Using selectors with props"
The `bindSelectors` function accepts only `MemoizedSelector`. It creates problems when selector list has `MemoizedSelectorWithProps` item.

I see that the decision was made since it's unclear how to update the existing API.
I'd like to discuss the ability to make `bindSelectors` accept `MemoizedSelectorWithProps` as well even if we cannot use it as it should be (maybe we can select them with a sto

[2020-05-19 10:52] GregOnNet commented on #32
Sorry I was just loud thinking.
The type-definition of `createDuck` requires to return a state-object that is correctly typed.

That's why we need `createMutableDuck` to leverage the whole benefit of `immer`.
I believe this need to live in its own library because I do not want to have `@ngrx-ducks/core` to depend on immer.
So I will introduce `@ngrx-ducks/mutable` for that, I think.

[2020-05-19 10:56] GregOnNet commented on #33
This is also a good catch.
Technically I am not able to do this yet.

This is because I can not differentiate plain selectors and selectors with props at runtime.
Both are similar.

I can differentiate on the type-level but not at runtime.
I planend to ask the NgRx-Team to support this.

I need to open an issue for that.

[2020-05-19 16:12] timdeschryver commented on #32
It can indeed be refactored to it, if you want the whole reducer to be mutable.
This is also implemented in `ngrx-etc`, as `mutableReducer` - https://github.com/timdeschryver/ngrx-etc/blob/master/src/mutable-reducer/index.ts#L18-L23

The difference is that `mutableOn` just wraps the one `on` function.

[2020-05-19 18:46] GregOnNet commented on #30
Hi @BorisZubchenko,

grouping is now possible.
Have fun with it. :)

DEMO: https://stackblitz.com/edit/ngrx-ducks-9

[2020-05-22 10:24] BorisZubchenko commented on #30
@GregOnNet, unfortunately, I [can't get an action group](https://stackblitz.com/edit/ngrx-ducks-9-4wz2nh?file=src/app/counter/store/counter/counter.facade.ts) (the last line) from `getActions` :(

[2020-05-22 20:03] GregOnNet commented on #30
That's right.
It is a bug.

[2020-08-12 12:37] ChristianKlima opened #35 "Support angular 10"
We tried to update our solution to version 10 of angular and nrwl packages. Will there be a new version of ngrx-ducks that supports version 10? Thank you in advance

[2020-08-13 05:08] GregOnNet commented on #35
Hi Christian,

thanks for messaging me.
The update is coming #36.

So far, I only needed to update the dependencies and experienced no breaking changes caused by external libraries.

Cheers
Gregor

[2020-08-13 05:21] sebakiller2018 commented on #35
Thanks Gregor!

[2020-08-13 05:27] GregOnNet commented on #35
NgRx Ducks 10 has been released.
You can find a working example here: https://stackblitz.com/edit/ngrx-ducks-10?file=src/app/counter/counter.component.ts

[2020-08-13 05:27] #35 closed

[2020-08-13 05:28] GregOnNet commented on #27
Closing this issue for now, because we did not find a solution, yet.

[2020-08-13 05:28] #27 closed

[2020-08-13 05:29] GregOnNet commented on #25
Closing this issue for now, because we did not find a solution, yet.

[2020-08-13 05:29] #25 closed

[2020-08-13 05:30] GregOnNet commented on #29
Closing this issue for now, because we did not find a solution, yet.

[2020-08-13 05:30] #29 closed

[2020-08-13 07:03] GregOnNet commented on #30
Hi @BorisZubchenko,

sorry for the long delay.
I had a look at the bug again and did the implementation for `getActions`.

It has been released with NgRx Ducks 10.1.
An example can be found here: https://stackblitz.com/edit/ngrx-ducks-10?file=src/app/counter/store/counter/counter.effects.ts

[2020-08-13 07:03] #30 closed

[2020-08-18 15:55] skydever opened #37 "Payload with falsy values"
Hi!

I just ran into a problem when the payload of an action is a falsy value (0, false ...). The reducer function of `createDuck` does not get the payload, it is always undefined.

I modified the stackblitz example to show what I mean [here](https://stackblitz.com/edit/ngrx-ducks-9-flttk8?file=src%2Fapp%2Fcounter%2Fcounter.component.ts). Just press the **Set 0** button, the counter value will be

[2020-08-19 07:23] GregOnNet commented on #37
Hi @skydever,

thanks for the report.
I will provide a fix today.

Maybe those checks are not needed at all.
Maybe I should pass through what ever is coming, and if null or undefined is passed payload still has the correct value at all.

[2020-08-19 20:23] skydever commented on #37
awesome 👍

yes, I also think that the check is not needed 🤔

[2020-08-20 06:22] GregOnNet commented on #37
fixed in version 10.1.1 👍

[2020-08-20 06:22] #37 closed

[2020-08-27 14:40] vladimirdrayling opened #38 "Doesn"

[2020-08-27 14:48] GregOnNet commented on #38
Hi @vladimirdrayling ,

I think something went wrong saving the issue.
<img width="832" alt="CleanShot 2020-08-27 at 16 48 05@2x" src="https://user-images.githubusercontent.com/444278/91457854-21961600-e885-11ea-99db-840f04a5da08.png">

Unfortunately, I cannot see a description.

[2020-08-27 14:52] vladimirdrayling opened #39 "Doesn't work with nrwl/nx-console in VS code"
After installation of `@ngrx-ducks/core` the nx console stoped working in VS code.

### Reproduction steps

0. `npx create-nx-workspace some-workspace --preset=angular --cli=angular --style=scss --nx-cloud=false`.
0. ` yarn add @ngrx-ducks/core`.
0. Start VS code (stable/insiders) install `nx console` extension.
0. Click on installed extension in the sidebar.
0. Click on generate. At this point no

[2020-08-27 15:01] #38 closed

[2020-08-27 16:22] vladimirdrayling commented on #38
Oh! Didn't noticed it. Sorry for this mistake.

There is the correct one, created on the same time. Please have a look at #39.

[2020-08-28 05:17] GregOnNet commented on #39
Hi,

thanks for reporting this issue.
I can reproduce it and started asking for a helping hand since I do not know how to start investigating this isse.

[2020-08-28 18:39] isaacplmann commented on #39
The problem is this line: https://github.com/co-IT/ngrx-ducks/blob/master/packages/core/package.json#L26

Nx console (and the angular cli) looks for a file at that location and since it doesn't exist nx console dies.  I'll fix that issue on the nx console side, but you should delete that line if you don't have any schematics.

[2020-08-28 19:22] isaacplmann commented on #39
https://github.com/nrwl/nx-console/pull/971

Here's the PR that fixes this from the nx-console side.

[2020-08-29 07:10] GregOnNet commented on #39
Hi @isaacplmann,

thanks for the quick help.
I also thought it is this reference as I told Juri before.

Currently, the schematics are a peer-dependency.
Maybe I should set it as a real dependency. 🤔

Thanks again.

Cheers
Gregor

[2020-08-29 07:10] GregOnNet commented on #39
Closing this issue due to a fix that will be provided by *nx-console*.

[2020-08-29 07:10] #39 closed

[2021-05-18 17:36] markasalinas opened #48 "Support for Angular v12 / NGRX v12"
Will NGRX Ducks be updated to support Angular v12  and NGRX v12?

[2021-05-22 20:51] GregOnNet commented on #48
Hi, I am currently on it.
Unfortunately, the tests checking the types fail for some reason.

`ts-snippet` does not find any variables any more.
<img width="750" alt="CleanShot 2021-05-22 at 22 51 42@2x" src="https://user-images.githubusercontent.com/444278/119240518-49828380-bb50-11eb-828c-070d08f0828a.png">

[2021-05-22 20:52] GregOnNet commented on #48
When I downgrade typescript from 4.2 to 3.9 `ts-snippet` starts working again but it throws other errors then...

[2021-05-22 21:10] GregOnNet commented on #48
Hey @markasalinas: Here is @ngrx-ducks/core@11-alpha supporting Angular 12 and NgRx 12.
Please give it a try: https://stackblitz.com/edit/ngrx-ducks-11?file=src/app/app.component.ts

[2021-05-23 09:39] GregOnNet commented on #32
Closing this issue due lack of time to implement it yet.

Help is very welcome.

[2021-05-23 15:09] GregOnNet commented on #21
Is resolved in NgRx Ducks 12

[2021-05-23 15:09] #21 closed

[2021-05-23 15:23] GregOnNet commented on #48
Hi @markasalinas NgRx Ducks 12 has been published: https://stackblitz.com/edit/ngrx-ducks-12?file=src/app/counter/store/counter/counter.facade.ts

[2021-05-23 15:23] #48 closed

[2021-05-24 09:29] GregOnNet commented on #33
@BorisZubchenko NgRx Ducks 12.1 supports Selector Factories.
Example: https://stackblitz.com/edit/ngrx-ducks-12

The only thing you need to do is writing a selector wrapped by a factory:

[code]

NgRx Ducks will consume this factory and transform it to a new function, instrumenting the Store to return an Observable.

[2021-05-24 09:29] #33 closed

[2021-05-24 19:07] GregOnNet commented on #28
Hi @BorisZubchenko,

you can now add statics to @StoreFacade annotated classes.
Please find the demo here: https://stackblitz.com/edit/ngrx-ducks-12?embed=1&file=src/app/counter/store/counter/counter.facade.ts

[2021-05-24 19:07] #28 closed

[2021-05-25 09:45] GregOnNet commented on #32
### API Draft

[code]

[2021-05-25 20:11] GregOnNet commented on #32
@BorisZubchenko, @timdeschryver: It's done: https://stackblitz.com/edit/ngrx-ducks-12?file=src/app/counter/store/counter/counter-mutable.facade.ts

[2021-05-25 20:11] #32 closed

[2021-06-09 15:17] markasalinas commented on #48
@GregOnNet thank you so much!

[2021-06-16 10:57] GregOnNet opened #52 "Simplify reducer registration"
Currently, the reducer generated by NgRx Ducks has to be added manually either to the StoreModule or an ActionReducerMap<T>.

The developer needs to maintain multiple files in order to set everything up.

It would be nice to allow `@StoreFacade` registering the reducer automatically.

## Draft

[code]

## ToDos

- [x] Implement `StoreRegistrator`, registering a Reducer at Runtime
- [x] Allow Regis

[2021-07-05 07:31] GregOnNet commented on #52
Open PR in NgRx.
If this gets merged, it is easier for NgRx Ducks to access reducers registered in the Store https://github.com/ngrx/platform/pull/3064

[2021-08-02 20:10] GregOnNet commented on #52
I am happy to announce that this issue can be closed 🎉 , since the feature has landed in the latest Release.
You can check out the result at https://stackblitz.com/edit/ngrx-ducks-12-9ztnzp?file=src/app/counter/store/counter/counter.facade.ts.

Happy Coding
Gregor

[2021-08-02 20:10] #52 closed

[2021-08-22 06:33] GregOnNet commented on #31
Closing this issue since the most recent update to StoreFacade-decorator automatically registers Tue reducer in the Store.

[2021-08-22 06:33] #31 closed

[2021-08-24 07:17] GregOnNet opened #55 "Simplify naming"
NgRx Ducks 13 could be used to simplify the naming of the building blocks.
This issue discusses possible simplifications.

Version 13 would deprecate the older names.

<table>
<tr>
	<th>Current
	<th>Proposal
    <th>Why?
<tr>
	<td>@StoreFacade
	<td>@StoreChunk ([found here](https://github.com/TheComfyChair/redux-scc#buildstorechunk))
    <td>Technical term Facade does not reflect what NgRx Ducks c

[2021-09-20 06:41] GregOnNet opened #57 "Handy Helpers"
In StateManagement we have lots of repeating tasks when it comes to handle active entities or loading state.

Maybe NgRx Ducks can help here with useful Tools.

- see https://datorama.github.io/akita/docs/entities/active/
- see https://datorama.github.io/akita/docs/entities/entity-store

[2021-09-20 06:48] GregOnNet opened #58 "Allow configuring action type prefixes in Decorator"
[code]

[2021-09-24 10:52] redaxmedia commented on #58
It would be nice to be true by default...

[2021-09-24 13:37] GregOnNet commented on #58
Hi,

thanks for your idea.

Cons
- this would be a breaking change
- this would be less explicit
- this would take control away from the developer

Henry Ruhs ***@***.***> schrieb am Fr., 24. Sept. 2021, 12:52:

[2021-09-26 07:54] redaxmedia commented on #58
false in 12.x and true from 13 and higher?

we properly need a way to configure it inside feature.module and therefore only once per module?

[2021-10-20 20:20] markasalinas opened #61 "Upgrade Immer Package Due to Security Vunerability"
Hello,

The ngrx-ducks/core package contains a very [high severity vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2021-23436) due to including Immer version 9.0.2. Is there any way to upgrade the Immer dependency to version 9.0.6 or higher?

[2021-10-27 06:43] #61 closed, assigned to nobody

[2021-11-16 06:15] GregOnNet opened #62 "Update To Angular 13"
## Technical Depts

- [x] The setup is manual and outdated
  - Jest
  - TypeScript
  - jest-preset-angular
  - ng-packagr
  - ts-snippet
- [x] Updating to Angular 13 breaks tests and build

## Solution

- [x] Use setup of nrwl/nx
- [x] Migrate lerna to nx
- [x] Make tests pass again due to [difficulties getting jest-preset-angular to run](https://thymikee.github.io/jest-preset-angular/docs/next/gu

[2021-12-13 19:22] GregOnNet commented on #62
Available in version 13-alpha: https://stackblitz.com/edit/ngrx-ducks-12-9ztnzp

[2021-12-13 19:22] #62 closed

[2021-12-13 20:12] GregOnNet commented on #55
Available in version 13-alpha.1: https://stackblitz.com/edit/ngrx-ducks-12-9ztnzp?file=src%2Fapp%2Fcounter%2Fcounter.component.ts

[2021-12-13 20:12] #55 closed

[2021-12-14 19:58] GregOnNet commented on #58
Available in Version 13: https://stackblitz.com/edit/ngrx-ducks-12-9ztnzp?file=src%2Fapp%2Fcounter%2Fstore%2Fcounter%2Fcounter.store.ts

[2021-12-14 19:58] #58 closed

[2022-01-11 15:52] skydever opened #63 "StoreChunk with nested actions"
Hi there!

I recently switched to the new `@StoreChunk` decorator and it is really awesome 👍

but I get the following error when **all** actions (`createDuck()`) are nested under a `myActions` property:

[code]

like this:

[code]

We have some facades where we group actions like this, and if there is no action left on the *main* level we get this error.

Thank you!

[2022-01-13 08:00] #63 closed

[2022-01-13 15:50] redaxmedia opened #65 "Library href in README.md broken"
The following href are broken:

- core
- schematics
- vscode-snippets

[2022-02-07 20:15] Markus-Ende opened #67 "Error: NOT SUPPORTED when trying to use @ngrx-ducks/schematics:facade"
Hi @GregOnNet ,

I get an `Error: NOT SUPPORTED: keyword "id", use "$id" for schema ID` when running `npx nx generate @ngrx-ducks/schematics:facade`.

One thing I found when skimming the sources were, that the peerDependencies in `libs/schematics/package.json` are outdated.

Tried to build the schematic from source to try a fix, but didn't get this to work. Maybe you can give me some hints on how

[2022-02-08 06:58] Markus-Ende commented on #67
Latest version of @ngrx-ducks/schematics is 12.0.0, also when bundled with @ngrx-ducks/core

[2022-02-08 07:36] #65 closed

[2022-02-08 07:39] GregOnNet commented on #67
Hi @Markus-Ende,

I was about to remove schematics from this project, since I have no time to  maintain the schematics.

The error looks like the schema has been changed in Schematics (id before, $id now).

[2022-02-08 07:40] GregOnNet commented on #67
@skydever Do you have any information about recent changes in schematics API?

[2022-02-08 12:17] Markus-Ende commented on #67
ah ok, can relate..

It's not too hard to write a little schematic for one's specific use cases anyway, especially when inside an Nx repo.

[2022-02-08 12:50] Markus-Ende opened #68 "StoreChunk decorator cannot be used on classes with constructor arguments"
Ths fails to compile:

[code]

[2022-02-08 13:04] Markus-Ende commented on #68
Probably this is not needed in most cases, but I just stumbled across it.

[2022-02-08 16:45] Markus-Ende opened #71 "Maximum call stack size exceeded when using 13.0.2 in Stack"
I get this error message when using version 13.0.2:
[code]

You can reproduce it in the counter demo Stackblitz (I just explicitely set the version to 13.0.2 to force node module reinstallation): https://stackblitz.com/edit/ngrx-ducks-12-ebdhbi?file=package.json

[2022-02-10 14:54] GregOnNet commented on #68
Hi Markus, that's a feature. 👍

A Chunk-Class should not have any dependencys to keep the methods free from side effects, as Redux suggests.

[2022-02-10 20:00] GregOnNet commented on #71
Hi @Markus-Ende ,

its interesting. Currently, I cannot reproduce the failure locally.

[2022-02-11 07:11] GregOnNet commented on #71
Good Morning @Markus-Ende,

I released a new version of NgRx Ducks which should have fixed the issue.
StackBlitz has been updated as well: https://stackblitz.com/edit/ngrx-ducks-12-9ztnzp?file=src/app/counter/store/counter/counter.effects.ts

[2022-02-11 07:11] #71 closed

[2022-02-11 07:41] #67 closed

[2022-02-11 07:43] GregOnNet opened #72 "Update @ngrx-ducks/schematics"
The schematics-package is not up-to-date and does not work with Angular 13.
Even NgRx Ducks had API changes, making a template update necessary.

If there is someone willing to help, I am happy to support you, providing a PR.

[2022-02-11 07:44] GregOnNet commented on #67
https://github.com/co-IT/ngrx-ducks/issues/72

[2022-02-11 20:29] GregOnNet opened #74 "Setup E2E Tests for PRs"
The bug #27 could have been avoided if a UI-Test had been in place.

To provide more solidness for future PRs, we need a few cypress checks ensuring that a Change to NgRx Ducks does not break a running App.

[2022-02-11 20:29] #74 closed

[2022-06-10 21:04] GregOnNet commented on #72
Schematics will be removed in Version 14

[2022-06-10 21:04] #72 closed

[2022-11-07 08:07] oemmes opened #79 "Peer dependency to rxjs with fixed version"
In the published package.json there is a peer dependency to rxjs with a fixed version:

[code]
see https://unpkg.com/@ngrx-ducks/core@14.0.0/package.json

In the original package.json it is not included:
https://github.com/co-IT/ngrx-ducks/blob/main/libs/core/package.json

Can you check why that depdency is in there? Either it should be removed or at least not set to a fixed version.

@angular/cor

[2022-11-18 19:21] GregOnNet commented on #79
Hey, Thanks for the hint. I will have a look at this.
Currently, I do not know where it is coming from.

Thanks for the kind words, too. 🙏

[2022-11-19 04:56] GregOnNet commented on #79
Released with 14.0.1

I added the peer to rxjs: `>= 7.0.0`

The dependency was indeed automatically set by the bundler.

[2022-11-20 13:54] GregOnNet opened #84 "Add E2E Tests"
To ensure that updates to NgRx Ducks' infrastructure do not break the library, it would be helpful if we have a few tests that check the example app under `apps/ngrx-ducks`.

A cypress project already exists: `apps/ngrx-ducks-e2e/`

## Test Cases

_Suite - Basic Counter checks_
- When the App starts, the counter is initialized with **10**.
- When the increase button is clicked, the counter display

[2022-11-20 14:34] GregOnNet opened #85 "Update Angular 15"
Update library to the latest version of Angular.

## Technical Difficulty

After updating to Angular version 15, using TypeScript 4.8.4, NgRx Ducks stops working, if `useActions` is used for creating a _static_ field.

At runtime, the Class Token passed to `useActions` is undefined.

<img width="709" alt="CleanShot 2022-11-20 at 15 32 30@2x" src="https://user-images.githubusercontent.com/444278/20

[2022-11-21 09:22] GregOnNet commented on #79
Oh man, sorry for that.

I was preparing #85 as well and accidentally adopted the wrong version numbers.

Sorry.

[2022-11-21 09:29] GregOnNet commented on #79
Released 14.0.2: https://www.npmjs.com/package/@ngrx-ducks/core

[2022-11-21 09:30] GregOnNet commented on #85
Issue at TypeScript https://github.com/microsoft/TypeScript/issues/51570

[2022-11-21 09:33] GregOnNet commented on #85
My thoughts on this:

- Throw a comprehensible error when the constructor inside `useActions` is `undefined`
- Linking an article on https://co-it.gitbook.io/ngrx-ducks/ showing how to resolve the issue
- Meanwhile: Waiting how TypeScript will handle this issue in future
  - If this is a breaking change by TypeScript → we might need to introduce another, safe-to-use API

[2022-11-28 07:49] oemmes commented on #79
Hi Gregor,

sorry to open up this issue again. But now the version constraint is `>^6.5.5 || ^7.4.0` which is not valid. The `>` needs to be removed...

[2022-11-29 09:38] GregOnNet commented on #79
Hi, thanks so much.

I usually check the validity of the package.json with `npm --loglevel verbose install --dry-run` but it did not complain.

Fix is about to come

[2022-11-29 09:40] GregOnNet commented on #79
@oemmes Thank you very much for your continuous feedback.
Currently, I need to a lot in parallel.

Sorry for the last instable releases

[2022-11-29 09:45] GregOnNet commented on #79
Released **14.0.3:** https://www.npmjs.com/package/@ngrx-ducks/core

[2022-11-29 09:45] #79 closed

[2022-11-29 21:31] GregOnNet commented on #85
Release version 15.0.0

[2022-11-29 21:31] #85 closed